QStatusBar {
    color: gray;
    font: italic;
}

QPushButton#settingsButton {
    background-color: transparent;
    border: none;
}

QLabel#pointNameLabel {
    font: 9px;
}

QLabel#prmNameLabel {
    font: 12px;
}

QLabel#prmValueLabel {
    font: 18px;
}
